.libraryWrapper {
    position: relative;
}

.pageLeft {
    position:absolute;
    width:40px;
    height:40px;
    top:84px;
    left:-45px;
    font-size:96px;
    color:#28a745;
    cursor:pointer;
}

.pageRight {
    position:absolute;
    width:40px;
    height:40px;
    top:84px;
    right:-35px;
    font-size:96px;
    color:#28a745;
    cursor:pointer;
}

.pagination {
    width:150px;
    margin: 0 auto;
}

.searchLabel {
    margin-top:8px;
    text-align:right;
}
