.header {
    position:relative;
    padding-bottom:20px;
    border-bottom:1px solid #CCCCCC;
    margin-bottom:30px;
}
.topForm {
    position:absolute;
    top:6px;
    right:50px;
    font-size:18px;
}
.topForm a {
    margin-right:10px;
    color:#1D77D8;
}
.logo {
    margin:0 50px;
}
.libraryWrapper {
    position: relative;
    margin:20px auto;
    max-width:1104px;

}

.libraryWrapper h4 {
    margin:0px 0 0 8px;
}

.pageLeft {
    position:absolute;
    top:10px;
    left:-40px;
    width:40px;
    height:40px;
    font-size:96px;
    color:#28a745;
    cursor:pointer;
}

.pageRight {
    position:absolute;
    top:10px;
    right:-35px;
    width:40px;
    height:40px;
    font-size:96px;
    color:#28a745;
    cursor:pointer;
}

.pagination {
    width:150px;
    margin: 0 auto;
}

.searchLabel {
    margin-top:8px;
    float:left;
    font-size:18px;
    margin-right:16px;
}

#keywords {
    float:left;
    width:300px;
    height:35px;
    border-radius:0;
    margin-right:16px;
}

.magicWordsDropdown {
    float:left;
    width:200px;
    border-radius:0;
    margin-right:16px;
    background-color:#FFFFFF;
}

.searchForm {
    padding-top:4px;
    height:35px;
}

.search {
    padding-left:50px;
    margin:57px auto 0 auto;
    width:745px;
}


ul {
    max-width: 500px;
    color: #333;
    list-style: none;
    margin: 50px auto;
    padding: 10px;
}

.list li {
    padding: 25px;
    background: #FAFAAF;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.center {
    text-align: center;
}
