.header {
    position:relative;
    padding-bottom:12px;
    border-bottom:1px solid #CCC;
    background:#E7E2CD;
}
.topForm {
    float:left;
    margin-top:4px;
    margin-left:25px;
    font-size:16px;
}
.topForm a {
    margin-right:15px;
}

.logo {
    margin:0 50px;
}

.libraryWrapper, .recentWrapper {
    position: relative;
    margin:20px auto;
    max-width:1115px;

}

.libraryWrapper h4, .recentWrapper h4 {
    margin:0px 0 0 8px;
    color:#144678;
    font-size:20px;
}

.downArrow {
    position:fixed;
    top:121px;
    right:77px;
    cursor:pointer;
    z-index: 200;
}

.upArrow {
    position:fixed;
    top:120px;
    right:47px;
    cursor:pointer;
    z-index: 200;
}

.searchLabel {
    margin-top:15px;
    font-size:16px;
    float:left;
    margin-right:16px;
    color:#144678;
}

#keywords {
    float:left;
    width:300px;
    height:30px;
    border-radius:0;
    margin-right:16px;
    font-size:15px;
}

.magicWordsDropdown {
    float:left;
    width:200px;
    margin-right:16px;
    background-color:#FFFFFF;
}

.searchForm {
    padding-top:3px;
    height:30px;
    background-color:#1D76d8;
    border-color:#1D76d8;
    float:left;
    font-size:15px;
}

.search {
    padding-left:50px;
    margin:50px auto 0 auto;
}


.scrollingBox {
    position: relative;
    padding:0;
    overflow-y:hidden;
    max-width:100%;
    height:calc(100vh - 174px);
}

.spinner {
    text-align:center;
    margin-top:100px;
    color:#144678;
    font-size:18px;
}

.infoText {
    margin:10px 0 0 8px;
    color:#144678;
    font-size:18px;
}
.moreResults {
    float:right;
    margin-top:25px;
    margin-right:25px;
    font-size:16px;
}

ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgba(29, 117, 216, 0.55);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
}
