.book {
    float:left;
    width:166px;
    margin:50px 8px;
    padding:20px 5px 5px 5px;
    background-color:#D3D3D3;
    border:3px solid #FFFFFF;
    border-radius:3px
}

.topSpace {
    margin-top:-15px;
    margin-bottom:24px;
}

.book h4 {
    display:block;
    font-size:14px;
    height:12px;

}

.book img {
    display:block;
    width:150px;
    height:150px;
}

.detailLink {
    width:150px;
    height:38px;
    margin-top:5px;
}

.bookDetail {

}
