.book {
    float:left;
    width:166px;
    margin:25px 8px;
    padding:20px 5px 5px 5px;
    background-color:#FAFAFA;
    border:3px solid #D3D3D3;
    border-radius:3px
}

.topSpace {
    margin-top:-15px;
    margin-bottom:24px;
}

.book h4 {
    display:block;
    font-size:14px;
    height:12px;

}

.book img {
    display:block;
    width:150px;
    height:150px;
    float:left
}

.detailLink {
    width:150px;
    height:38px;
    margin-top:5px;
}

.bookDetail {

}

.modal-wrapper {
    border:15px solid #D3D3D3;
    border-radius:5px;
    background-color:#FAFAFA;
    max-height:calc(100vh - 56px);
}

.authorImage {
    float:right;
    margin-left:20px
}

.authorImage img {
    max-height:150px;
    max-width:150px;
    float:right
}

.authorCaption {
    text-align:right;
}
div.modal-header {
    padding:15px 1rem 13px 1rem;
}

p.modal-title {
    font-size:18px
}

.expand {
    color:#28a745;
    cursor:pointer;
}

.underline {
    text-decoration:underline;
}
