<div class="book" >
    <h4 [ngClass]="{'topSpace': bookdata.TitleName.length > 22 }">{{bookdata.TitleName}}</h4>
    <img src="{{bookdata.CoverArtLink}}">
    <button type="button" class="detailLink btn btn-success" (click)="showDetail()">More Info</button>
</div>


<div class="bookDetail" *ngIf="detail">
    Title: {{bookdata.TitleName}}
    Author Bio: {{bookdata.AuthorBio}}
    Author Image: {{bookdata.BioPhotoLink}}
    Cover Art by Title: {{bookdata.CoverArtLink}}
    Hook Line Title: {{bookdata.TitleHookLine}}
    Title Description by Title: {{bookdata.TitleDescription}}
    Acknowledgements specific to title: {{bookdata.Acknowledgment}}
    Dedications specific to title: {{bookdata.Dedication}}
    Title URL: {{bookdata.BookUrl}}
    Price: {{bookdata.RetailPrice}}
</div>
