<div class="book">
    <h4 [ngClass]="{'topSpace': bookdata.TitleName.length > 25 }">{{bookdata.TitleName}}</h4>
    <img [src]="bookdata.CoverArtLink == '/generic/cover/image' ? 'https://rathe.app/portal/public/dashboard/images/system-art.jpg' : bookdata.CoverArtLink">
    <button type="button" class="detailLink btn btn-success" (click)="openModal(template)">read more</button>
</div>

<ng-template #template>
    <div class="modal-wrapper">
    <div class="modal-header">
        <p class="modal-title pull-left"><strong>{{bookdata.TitleName}}</strong></p>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="authorImage">
            <img [src]="bookdata.BioPhotoLink == '/generic/bio/image' ? 'https://rathe.app/portal/public/dashboard/images/no-profile.png' : bookdata.BioPhotoLink" alt="Author Image">
            <p class="authorCaption"><strong>{{bookdata.TitlePersona}}</strong></p>
            <div style="clear:both"></div>

        </div>
        <p *ngIf="!showbio"><strong>Author Bio: </strong>{{bookdata.AuthorBio.substring(0, 50)}}... <span class="expand" (click)="showbio = true">&raquo;<span class="underline">more</span></span></p>
        <p *ngIf="showbio"><strong>Author Bio: </strong>{{bookdata.AuthorBio}} <span *ngIf="showbio" class="expand" (click)="showbio = false">&raquo;<span class="underline">less</span></span></p>
        <p><strong>Hook line: </strong>{{bookdata.TitleDescription}}</p>
        <p><strong>Acknowledgement: </strong>{{bookdata.Acknowledgment}}</p>
        <p><strong>Dedication: </strong>{{bookdata.Dedication}}</p>
        <p><strong>Description: </strong>{{bookdata.TitleDescription}}</p>
    </div>
    </div>
</ng-template>

