<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" href="icons/favicon.ico" />
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script-->
  <title> rĀthe! </title>
</head>
<body>

<div class="container-fluid">
    <app-library></app-library>
<div style="clear:both"></div>
</div>
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="iosDownload"><img src="assets/images/appStoreWhite.png" alt="ios download"></div>
        </div>
      <div class="col-md-6">
        <p class="text-center">
            <a target="_blank" class="footer-text" href="/contact">Contact Us</a><a target="_blank" class="footer-text" href="/terms">Terms &amp; Conditions</a><a target="_blank" class="footer-text" href="/privacy">Privacy Policy</a>
          <br/>Copyright &copy;2019 rĀthe.</p>


      </div>
  </div>
    </div>
</footer>


</body>
</html>



