<div class="container-fluid">
<router-outlet></router-outlet>
<div style="clear:both"></div>
</div>
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="iosDownload"><img src="assets/images/appStoreWhite.png" alt="ios download"></div>
        </div>
      <div class="col-md-6">
        <p class="text-center">
            <a target="_blank" class="footer-text" href="/contact">Contact Us</a><a target="_blank" class="footer-text" href="/terms">Terms &amp; Conditions</a><a target="_blank" class="footer-text" href="/privacy">Privacy Policy</a>
          <br/>Copyright &copy;2019 r&#256;the.</p>


      </div>
  </div>
    </div>
</footer>
