<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" href="icons/favicon.ico" />
  <title> rĀthe! </title>
</head>
<body class="main-login">


<div class="container-fluid">
      <app-library></app-library>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <a target="_blank" class="footer-text" href="/contact">Contact Us</a><a target="_blank" class="footer-text" href="/terms">Terms &amp; Conditions</a><a target="_blank" class="footer-text" href="/privacy">Privacy Policy</a>
          <br><br>
          Copyright &copy;2019 rĀthe.
        </p>

      </div>

    </div>
  </div>
</footer>

</body>
</html>



