
        <h4>Search Form</h4>
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
            <div class="row">
            <div class="form-group col-md-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="params.title" name="title">
            </div>
            <div class="form-group col-md-3">
                <label for="title">Author</label>
                <input type="text" class="form-control" id="author" [(ngModel)]="params.author" name="author">
            </div>
            <div class="form-group col-md-5">
                <label for="title">Keywords (separate by space)</label>
                <input type="text" class="form-control" id="keywords" [(ngModel)]="params.keywords" name="keywords">
            </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-success searchForm">Search</button>
                </div>
            </div>

        </form>
