<h4>search...</h4>
<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
    <div class="row">
        <div class="form-group col-md-3">
            <input type="text" class="form-control" id="title" [(ngModel)]="params.title" name="title"
                   placeholder="by title">
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" id="author" [(ngModel)]="params.author" name="author"
                   placeholder="by author">
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="keywords" [(ngModel)]="params.keywords" name="keywords"
                   placeholder="by keywords (separate by space)">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-success searchForm">Search</button>
        </div>
    </div>
</form>
